<html>
<head>
<title>DELETE DETAILS</title>
<link rel="stylesheet" href="home.css">
</head>
<body>
<center><h1>Car Inventory Management</h1></center>
<ul class="m">
<li><a href="/">Home</a></li>
<li><a href="/add">Add New Car Details</a></li>
<li><a href="/update">Update Car Details</a></li>
<li><a href="/delete">Delete Car Details</a></li>
<li><a href="/sales">Car Sales Details</a></li>
<li><a href="/updatesales">Update Car Sales Details</a></li>
</ul>
<h2>Delete Car Details</h2>
<form name="f2" method="post" action="/deleteData">
<label>Car Id:</label>
<input type="text" placeholder="Enter car id" name="cid2" id="ccid2" required><br>
<input type="submit" value="delete">
</form>
</body>
</html>